<html lang="en">
  <head>
    {{>headerFiles}}
    <title>About</title>
  </head>
  <body>
    <!--  navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-item-center">
              <figure>
                <img
                  src="images/about.png"
                  alt="dipto"
                  class="img-fluid"
                  title="dipto_web"
                  width="250"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>
                Myself
                <span class="txt_clr">Tanzim</span>
                Student & Developer
              </h1>
              <a
                href="https://www.youtube.com/channel/UC6fwmV4gepBzDy8W8EEqxXQ"
                target="diptoWeb"
              ><button>youtube</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>